table {
    width: 100%;
    margin-bottom: 20px;
    border: 15px solid #F2F8F8;
    border-top: 5px solid #F2F8F8;
    border-collapse: collapse;
}
table th {
    font-weight: bold;
    padding: 5px;
    background: #F2F8F8;
    border: none;
    border-bottom: 5px solid #F2F8F8;
}
table td {
    padding: 5px;
    border: none;
    border-bottom: 5px solid #F2F8F8;
}
.button {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    background: #000;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
}
